<%= provide(:title, @project.name) %>
<%= render 'project_info' %>
<div class="row">
  <div class="span2">
    <%= render 'left_menu' %>
  </div>
  <div id="content" class="span8">
  </div>
</div>